target/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Node / Vite Web Artifacts
node_modules/
dist/
.vite/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.settings/
.project
.classpath

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db
